#container {
  width: 200px;
  height: 360px;
  background-color:black;
  position: relative; 
  
}

.activity_model {
  width: 20px;
  height: 20px;
  background-color: cadetblue;
  border: .3px solid #eeeeee;
  box-sizing: border-box;   /*为元素指定的任何内边距和边框都将
                              在已设定的宽度和高度内进行绘制。*/
  position: absolute;
}
